body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.productos {
    display: flex; /* Activa flexbox */
    justify-content: space-between; /* Distribuye el espacio entre los productos */
    flex-wrap: wrap; /* Permite que los productos se envuelvan en pantallas pequeñas */
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 30%; /* Ancho de cada producto */
    text-align: center;
    box-sizing: border-box; /* Incluye el padding en el ancho */
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.detalle-producto {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos específicos para la página 404 */
.error-container {
    text-align: center;
    padding: 50px;
}

.error-container h1 {
    font-size: 3em;
    color: #ff0000;
}

.error-container p {
    font-size: 1.2em;
    margin: 20px 0;
}

.error-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.error-container a:hover {
    background-color: #555;
}